<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Asher's Chapter 25 - JSON Data/Cars</title>
  <link rel="stylesheet" href="/styles.css">
</head>

<body>
  <a href="/">Link to Start Page</a>
  <h1>Click button to send JSON data (cars) to the Web Server</h1>
  <button id="send">Send JSON Data / Cars</button>
  <p>API Result:</p>
  <div id="output"></div>

  <script src="/cars.js"></script>
</body>

</html>
